html {
  width: 94%;
}


body {
  height: 100%;
  width: 100%;
}

#container-grid {
  width: auto;
}

.container-row {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.container-row-1 {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
}

.top {
  height: 5em;
  width: 100%;
  margin: 3px;
  border: red solid 3px;
  text-align: center;
  font-size: 2em;
}

#top-2 {
  height: auto;
  width:100%;
  margin: 3px;
  border: solid red 3px;
}

.inside-top-2 {
  height: 4em;
  width: auto;
  margin: 3px;
  border: black solid 3px;
  text-align: center;
  text-overflow: clip;
}

.row {
  border:solid black 3px;
  margin: 2em;
}

/* .row-2 {
  border:solid black 3px;
  margin-left: 1em;
} */

.card {
  height: 26%;
  width: 81%;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  /* border: black solid 2px;
  margin: 2em; */
  padding: 3em;
  display:table;
  text-align: center;
  color: white
}

.card-2 {
  height: 26%;
  width: 18.359em;
  background: linear-gradient(217deg, rgba(204, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(43, 255, 5, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(41, 255, 244, 0.8), rgba(0,0,255,0) 70.71%);
  border: black solid 2px;
  margin: 1.5em;
  padding: 3em;
  display:table;
  text-align: center;
  color: white
}

p {
  height: 0;
  width: 100%;
  margin: .2em;
  font-size: 30px;
}

hr {
  height: 1.3em;
}

img {
  height: 10em;
  user-select:none;
}

@media (max-width:992px) {
  #img-1 {
    display: none;
  }
}

@media (min-width:992px) {
  #img-2 {
    display: none;
  }
}

@media (max-width:768px) {
  #img-2 {
    display: none;
  }
}

@media (min-width:768px) {
  #img-3 {
    display:none
  }
}

@media (min-width:1100px) {
  #img-1, #img-2, #img-3 {
    display: flex;

  }
}